:root {
    /* Colors */
    --main-accent-color: #0000ff;
    --first-aux-color: #247ffb;
    --second-aux-color: #f1c40f;
    --dark-color: #082680;
    --gen-color-light: #fff;
    --gen-color-dark: #121212;
    --gen-icon-green: greenyellow;
    /* Borders */
    --btn-hero-round-border: 2px solid #0000ff80;
    --cws-border-round-radius: 50%;
    --cws-border-tablet-radius: 50px;
    --cws-border-light-shade: #ccc;
    /* Font style */
    --gen-font-quicksand: 'Quicksand';
    --gen-font-poppins: 'Poppins';
    --gen-font-oswald: 'Oswald';
    /* Font size */
    --gen-small-header-h3: 20px;
    --cws-nav-h2: 17px;
    /* Font-weight */
    --bold-font-weight: 700;
    --light-font-weight: 600;
    --lighter-font-weight: 500;
    --bolder-font-weight: 900;
    /* Padding */
    --cws-header-padding: 16px 120px;
    --doc-padding: 20px 80px;
    /* Linear Gradient */
    --gen-hero-gradient: linear-gradient(-90deg, rgba(0, 0, 255, 0.010) 0%, rgba(0, 0, 255, 0.205) 50%, rgba(0, 0, 255, 0.342) 100%);
    --cws-box-sizing: border-box;
    /* Letter spacing */
    --cws-letter-spacing-0-1: 0.1rem;
    --cws-letter-spacing-0-2: 0.2rem;
    /* Transitions */
    --gen-trans-0-2-s: 0.2s;
    --gen-trans-0-3-s: 0.3s;
    --gen-trans-0-4-s: 0.4s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: var(--cws-box-sizing);
    font-family: var(--gen-font-poppins);
}

html {
    scroll-behavior: smooth;
}

.section-m1 {
    padding: var(--cws-header-padding);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--gen-color-dark);
}

small {
    color: var(--main-accent-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h3 {
    font-size: var(--gen-small-header-h3);
}


/**** Prenav Section ****/

.prenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: var(--cws-header-padding);
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--cws-border-light-shade);
    font-size: 12.5px;
    color: var(--gen-color-light);
}

.prenav-contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-caller a {
    color: var(--gen-color-light);
    transition: var(--gen-trans-0-2-s) ease;
}

.business-caller a:hover {
    color: var(--first-aux-color);
}

.second-pre-item {
    padding-left: 40px;
}

.third-pre-item {
    padding-left: 40px;
}

.third-pre-item a {
    padding: 0 4px;
    font-size: 14px;
}


/**** Header Navbar ****/

#navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--cws-header-padding);
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    z-index: 999;
}

.navhead {
    position: relative;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}

.header-logo-text {
    padding-left: 10px;
    text-decoration: none;
    color: var(--gen-color-dark);
}

.header-logo-text p {
    font-size: 12px;
}

.navhead img {
    top: 0;
    width: 45px;
    border-radius: var(--cws-border-round-radius);
    z-index: 4;
}

.navhead h2 {
    font-size: var(--cws-nav-h2);
    font-family: var(--gen-font-oswald);
    letter-spacing: var(--cws-letter-spacing-0-2);
    font-weight: var(--bold-font-weight);
}

.navlinks ul {
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.navlinks ul li {
    padding: 0 4px;
    /*position: relative;*/
}

.navlinks ul li a {
    color: var(--gen-color-dark);
    padding: 30px 10px;
    font-size: 13px;
    font-weight: var(--bold-font-weight);
    transition: .08s ease;
    position: relative;
}

.navlinks ul li .navigation-link:hover::after,
.navlinks ul li .active::after {
    content: " ";
    width: 65%;
    height: 3px;
    background: var(--dark-color);
    position: absolute;
    left: 7px;
    bottom: 16px;
    animation: navHover .25s ease-in-out forwards;
}

@keyframes navHover {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

.navlinks ul li a.active,
.navlinks ul li a:hover {
    color: var(--dark-color);
}

.book-session-li {
    padding-left: 80px !important;
}

.book-section-anchor {
    background-color: var(--main-accent-color) !important;
    padding: 13px 13px !important;
    border-radius: var(--cws-border-tablet-radius);
    border-top-right-radius: 0;
    color: var(--gen-color-light) !important;
    transition: var(--gen-trans-0-3-s) ease !important;
}

.book-section-anchor i {
    padding: 8px;
    margin-right: 5px;
    background-color: var(--gen-color-light);
    color: var(--dark-color);
    border-radius: var(--cws-border-round-radius);
}

.book-section-anchor::after {
    content: "\2192";
    font-size: 20px;
    text-align: center;
}

a.book-section-anchor:hover {
    border: none !important;
    background-color: #3737ff !important;
    border-top-right-radius: var(--cws-border-tablet-radius);
    border-bottom-right-radius: 0;
}


/** Mobile Bars **/

#mobile {
    display: none;
}

#search {
    display: none;
}


/** Dropdown for header **/

#quicklink-content li {
    display: block !important;
    margin: 0;
    /*margin-left: -0.5px !important;*/
    padding: 0;
}

#quicklink-content li a {
    display: block;
    color: black !important;
    padding: 11px 22px !important;
    border-radius: 8px;
    width: 100% !important;
    transition: 0.15s ease-in-out !important;
    font-weight: 600 !important;
}

#quicklink-content li a:hover::after {
    content: " ";
    width: 18%;
    height: 2px;
    background: var(--dark-color);
    position: absolute;
    left: 23px;
    bottom: 2px;
    animation: hoverAfter .25s ease-in-out forwards;
}

@keyframes hoverAfter {
    from {
        width: 0;
    }
    to {
        width: 18%;
    }
}

#quicklink-content li a:hover {
    /*background-color: rgb(255, 121, 121) !important;*/
    border-bottom: 0 !important;
    color: var(--dark-color) !important;
}

#quicklink-content {
    width: 205px;
    top: 19%;
    background: #fff;
    color: black;
    position: absolute;
    z-index: 950;
    align-items: center;
    justify-content: center;
    text-align: start;
    border: 1px solid #ccc;
    /*border-top: 1px solid var(--main-accent-color);*/
    border-radius: 3px;
    display: none;
    padding: 15px 0px;
    /*transition: 0.3s ease-in-out;*/
    animation: dropdownFadeIn 0.3s ease-in-out forwards;
}

@keyframes dropdownFadeIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.dropdown:hover #quicklink-content {
    display: block;
}

.dropdown:hover .drop-click {
    color: var(--dark-color);
}

.dropdown:hover .drop-click::after {
    content: " ";
    width: 65%;
    height: 3px;
    background: var(--dark-color);
    position: absolute;
    left: 7px;
    bottom: 16px;
    animation: navHover .25s ease-in-out forwards;
}


/* Header Scroll down to top effect */

.header-scrolled {
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between !important;
    background-color: var(--gen-color-light);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: header 1s;
}

@keyframes header {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

.header-scrolled #quicklink-content {
    top: 106%;
}


/***** Hero *****/

.hero-section {
    position: relative;
    background-image: url(../src/man-cleaning-service-concept-clean-room-office-tools_36325-1163.webp);
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.main-overlay {
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #21212193;
    background-blend-mode: darken;
    opacity: 0.5;
    z-index: 2;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: var(--gen-hero-gradient);
    background-blend-mode: darken;
    z-index: 3;
}

.hero-counter {
    position: absolute;
    left: 70px;
    top: 24%;
    z-index: 20;
    opacity: 0.4;
}

.rounded-counter {
    width: 13px;
    height: 13px;
    background-color: var(--second-aux-color);
    border-radius: var(--cws-border-round-radius);
    margin-bottom: 80px;
    border: 1px solid var(--gen-color-light);
}

.rounded-counter.first {
    animation: first 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes first {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px)
    }
    100% {
        transform: translateY(0)
    }
}

.rounded-counter.second {
    animation: second 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes second {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px)
    }
    100% {
        transform: translateX(0)
    }
}

.rounded-counter.third {
    animation: third 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes third {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px)
    }
    100% {
        transform: translateY(0)
    }
}

.hero-text {
    position: absolute;
    z-index: 10;
    margin: var(--cws-header-padding);
    padding: 20px;
    top: 80px;
    width: 60%;
    background: linear-gradient(180deg, #12121241 0%, #12121200 100%);
    color: var(--gen-color-light);
}

.hero-span-colour {
    color: var(--second-aux-color);
    animation: contentFrame 3s infinite;
}

@keyframes contentFrame {
    0% {
        color: var(--second-aux-color);
    }
    50% {
        color: var(--first-aux-color);
    }
    100% {
        color: var(--second-aux-color);
    }
}

.hero-text h2 {
    font-size: 48px;
    font-weight: var(--bold-font-weight);
    padding-bottom: 20px;
    letter-spacing: 0.5rem;
    font-family: var(--gen-font-oswald);
    color: var(--gen-color-light);
}

.hero-text p {
    color: var(--gen-color-light);
}

.hero-intro-text span {
    content: '';
    position: relative;
    display: inline-block;
    top: -4px;
    align-items: center;
    width: 70px;
    height: 4px;
    background-color: var(--second-aux-color);
    border-radius: 20px;
}

.hero-main-paragraph {
    line-height: 2rem;
    margin-bottom: 30px;
}

.hero-text i {
    font-size: 17px;
    cursor: pointer;
}

.rounded-play {
    padding: 10px 12px;
    border-radius: 50%;
    border: 1px solid var(--main-accent-color);
    background-color: rgba(34, 34, 34, 0.829);
}

.hero-text i::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: var(--btn-hero-round-border);
    border-radius: var(--cws-border-round-radius);
    transform: translate(-32.5px, -17.5px);
    z-index: -1;
}

.best-offers-btn {
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: var(--cws-border-tablet-radius);
    border: 1px solid #0000ff;
    color: var(--gen-color-light);
    background-color: #0000ff75;
    transition: all 0.3s ease-in-out;
}

.best-offers-btn::after {
    content: ">";
    padding: 2px 10px;
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
    color: var(--gen-color-dark);
    text-align: center;
    border-radius: var(--cws-border-round-radius);
    border: 2px solid var(--btn-hero-round-border);
    background-color: var(--gen-color-light);
    transition: all 0.3s ease-in-out;
}

.best-offers-btn:hover {
    margin-left: 30px;
    color: var(--second-aux-color);
}

.best-offers-btn:hover::after {
    color: var(--second-aux-color);
    background-color: var(--main-accent-color);
}

.intro-vid-modal {
    position: fixed;
    background-color: #222222cb;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: none;
    animation: modal 0.4s;
}

@keyframes modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px 40px;
    top: 5%;
    height: 90vh;
    width: 80%;
    background-color: var(--gen-color-light);
    border-radius: 10px;
    animation: modalContent 0.4s;
}

@keyframes modalContent {
    from {
        top: -20px;
    }
    to {
        top: 5%;
    }
}

.modal-content .close {
    position: absolute;
    padding: 0 8px;
    right: -5px;
    top: -5px;
    background-color: red;
    color: var(--gen-color-light);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-animation {
    display: none;
    animation: closeContent 0.4s;
}

@keyframes closeContent {
    from {
        top: 5%
    }
    to {
        top: -100vh;
    }
}

.modal-header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.modal-header h3 {
    font-size: var(--gen-small-header-h3);
    color: #222;
}

.modal-header span {
    font-size: 15px;
    color: #222;
    font-family: var(--gen-font-quicksand);
}

.modal-header i {
    color: #bebebe;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.modal-body video {
    width: 70%;
    margin-top: 30px;
    border-radius: 10px;
}

.body-buttons {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-links {
    margin: 50px 10px;
    min-width: 50px;
}

.button-links a {
    text-decoration: none;
    background-color: var(--main-accent-color);
    color: var(--gen-color-light);
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
}

.button-links a:hover {
    background-color: #0000ffd3;
}


/*****/

.video-speaker {
    margin: 0 auto;
    margin-left: 20px
}

.video-speaker .quote {
    font-family: 'Arial';
    font-weight: var(--bolder-font-weight);
    font-size: 76px;
    text-align: center;
    line-height: normal;
    color: var(--second-aux-color);
}

.video-speaker p {
    line-height: 2.2rem;
}

.sp-f {
    color: var(--main-accent-color);
    font-size: 17px;
    font-weight: 500;
}

.sp-s {
    font-size: 14px;
    color: var(--second-aux-color);
    font-weight: var(--light-font-weight);
}


/**** Service card plate *****/

.service-card-plate {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.plate-items {
    background-color: var(--gen-color-light);
    align-items: center;
    width: 32%;
    padding: 15px 25px;
    /*border: 1px solid #ccc;*/
    border-bottom: 3px solid var(--first-aux-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transform: translateY(-60px);
    transition: 0.3s ease-in-out;
    z-index: 10;
}

.plate-items i {
    color: var(--first-aux-color);
    font-size: 22px;
}

.plate-items h3 {
    font-size: 16px;
    padding-bottom: 8px;
    color: var(--first-aux-color);
}

.plate-items p {
    font-size: 14px;
    line-height: 1.6rem;
}

.plate-items:hover {
    transform: translateY(-70px);
}


/**** Services Elementor */

.services-elementor-area {
    display: flex;
    padding-top: 0;
}

.services-elt-img {
    overflow: hidden;
    border-radius: 10px;
    max-width: 90%;
}

.services-elt-img img {
    width: 90%;
    border-radius: 10px;
}

.services-elt-img img:hover {
    scale: 1.01;
}

.services-paragraph-one {
    font-size: 13px;
    padding-bottom: 10px;
    color: var(--main-accent-color);
}

.services-paragraph-one::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-accent-color);
    transform: translate(10px, 5px);
}

.years-experience {
    display: flex;
    position: absolute;
    max-width: 150px;
    align-items: center;
    text-align: center;
    transform: translate(370px, 40px);
    padding: 10px 15px;
    background-color: var(--main-accent-color);
    color: var(--gen-color-light);
    font-size: 14px;
    font-weight: var(--lighter-font-weight);
    border-radius: 7px;
}

.years-experience i {
    font-size: 20px;
    color: var(--second-aux-color);
}

.years-experience p {
    color: var(--gen-color-light);
}

.star-icon {
    font-size: 11px !important;
}

.services-elt-text {
    padding-left: 60px;
}

.services-elt-text h3 {
    font-size: var(--gen-small-header-h3);
    padding-bottom: 10px;
}

.starter-elt {
    line-height: 1.9rem;
    font-size: 14.5px;
    padding-bottom: 15px;
}

.ender-elt {
    padding-bottom: 12px;
    font-size: 14.5px;
}

.ender-elt i {
    color: var(--second-aux-color);
    font-size: 18px;
    font-weight: var(--bolder-font-weight);
}

.ender-elt.last {
    padding-bottom: 25px;
}

.services-elt-buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.services-elt-text a {
    text-decoration: none;
    padding: 10px 14px;
    color: #222;
    font-size: 12px;
    font-weight: var(--lighter-font-weight);
    border-radius: var(--cws-border-tablet-radius);
    transition: all 0.1s ease-in;
}

.elt-btn-two {
    border: 1px solid var(--main-accent-color);
    transition: all 0.1s ease-in;
}

.services-elt-text a::before {
    content: '>';
    font-weight: var(--bold-font-weight);
    margin-right: 12px;
    align-items: center;
    padding: 3px 9px;
    border-radius: var(--cws-border-round-radius);
    color: var(--gen-color-light);
    background-color: var(--main-accent-color);
    transition: all 0.1s ease-in;
}

.elt-btn-one:hover {
    border: 1px solid var(--second-aux-color);
    /*background-color: var(--second-aux-color);
    color: var(--gen-color-light);*/
}

.elt-btn-one:hover::before {
    color: var(--gen-color-light);
    background-color: var(--second-aux-color);
}

.elt-btn-two:hover {
    border: 1px dashed var(--main-accent-color);
}

.elt-btn-two:hover::before {
    color: var(--gen-color-light);
    background-color: var(--second-aux-color);
}


/***** Banner Section *****/

.more-info-banner {
    position: relative;
    background-image: url(../src/frets.jpg);
    height: 140px;
    margin-top: 60px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 114, 0.247);
    opacity: 0.1;
}

.banner-content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.star-hide {
    display: none;
}

.main-hide {
    display: none !important;
}

.banner-content .fa-star {
    color: var(--second-aux-color);
    font-size: 10px;
}

.content-elt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-elt p {
    color: var(--gen-color-light);
    font-size: 18px;
}

.content-elt i {
    font-size: 35px;
    color: var(--gen-icon-green);
    margin-right: 20px;
}

.content-elt span {
    color: cornflowerblue;
    font-size: 20px;
}

.content-elt .count {
    color: var(--gen-color-light);
    font-weight: var(--bold-font-weight);
}

.content-story {
    font-size: 12px !important;
}


/**** Services *****/

.detail-services-offered {
    position: relative;
    padding-top: 70px;
    justify-content: space-between;
    /*background-color: rgb(246, 250, 255);*/
}

.offered-header {
    text-align: center;
}

.offered-header small {
    color: var(--main-accent-color);
}

.offered-header small::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-accent-color);
    transform: translate(10px, 7.5px);
}

.offered-header h3 {
    font-size: var(--gen-small-header-h3);
    margin-top: 10px;
    margin-bottom: 20px;
}

.offered-rounded {
    display: flex;
    justify-content: space-between;
    padding: 0 500px;
}

.offered-rounded .rounded {
    width: 13px;
    height: 13px;
    background-color: var(--second-aux-color);
    border-radius: var(--cws-border-round-radius);
}

.offered-rounded .rounded.round-a {
    animation: round-a 3s infinite;
}

@keyframes round-a {
    0% {
        transform: translateX(0);
        background-color: var(--second-aux-color);
    }
    50% {
        transform: translateX(-40px);
        background-color: var(--main-accent-color);
    }
    100% {
        transform: translateX(0);
        background-color: var(--second-aux-color);
    }
}

.offered-rounded .rounded.round-b {
    animation: round-b 3s infinite;
}

@keyframes round-b {
    0% {
        background-color: var(--second-aux-color);
    }
    50% {
        background-color: var(--main-accent-color);
    }
    100% {
        background-color: var(--second-aux-color);
    }
}

.offered-rounded .rounded.round-c {
    animation: round-c 3s infinite;
}

@keyframes round-c {
    0% {
        transform: translateX(0);
        background-color: var(--second-aux-color);
    }
    50% {
        transform: translateX(40px);
        background-color: var(--main-accent-color);
    }
    100% {
        transform: translateX(0);
        background-color: var(--second-aux-color);
    }
}

.offered-services-show {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.s-card-image img {
    width: 75%;
    border: 2px solid var(--second-aux-color);
    border-radius: 80px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    mix-blend-mode: darken;
}

.image-over-elt {
    position: absolute;
    padding: 8px 12px;
    background-color: var(--main-accent-color);
    color: var(--gen-color-light);
    transform: translate(40px, -15px);
    font-size: 12px;
    font-weight: var(--light-font-weight);
    z-index: 2;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.image-over-elt span {
    color: var(--gen-icon-green);
    font-size: 15px;
}

.image-decor-elt {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--main-accent-color);
    border-radius: var(--cws-border-round-radius);
    transform: translate(360px, -30px);
    animation: decor 3s infinite;
}

@keyframes decor {
    0% {
        background-color: var(--main-accent-color);
    }
    33% {
        background-color: var(--first-aux-color);
    }
    66% {
        background-color: var(--second-aux-color);
    }
    100% {
        background-color: var(--main-accent-color);
    }
}

.services-card {
    margin: 50px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    /*border: 1px solid var(--main-accent-color);*/
    border-radius: var(--cws-border-tablet-radius);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.services-card.starter {
    border-top-left-radius: 0;
}

.services-card.finisher {
    border-top-right-radius: 0;
}

.services-card h3 {
    font-size: 15px;
    padding-bottom: 8px;
}

.services-card .after-holder,
.services-card .before-holder {
    background-color: var(--main-accent-color);
    color: var(--gen-color-light);
    padding: 10px;
    font-size: 20px;
    border-radius: var(--cws-border-round-radius);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.before-holder {
    border-top-left-radius: 0;
    transform: translate(-10px, -50px)
}

.after-holder {
    border-top-right-radius: 0;
    transform: translate(10px, -50px)
}

.services-card p {
    font-size: 14px;
}


/**** Our Projects ****/

.our-projects {
    background-color: rgb(241, 247, 255);
    padding-bottom: 70px;
}

.project-header {
    text-align: center;
    padding-top: 40px;
}

.project-header h2 {
    color: var(--dark-color);
    font-weight: var(--bolder-font-weight);
    padding-bottom: 10px;
}

.project-header p {
    padding-bottom: 60px;
    font-size: 16px;
}

.projects-container {
    display: flex;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.container-card {
    position: relative;
    width: 32%;
    overflow: hidden;
}

@keyframes project {
    from {
        transform: translateY(75%);
    }
    to {
        transform: translateY(0);
    }
}

.container-card img {
    width: 100%;
}

.container-card-about p {
    font-size: 14px;
}

.card-desc {
    padding-top: 30px;
    padding-bottom: 26px;
}

.container-card-about h4 {
    font-size: 17px;
    padding-bottom: 8px;
}

.container-card-about {
    border: 2px solid #ddd;
    background-color: var(--gen-color-light);
    border-top: 0;
    margin-top: -5px;
    padding: 10px 20px;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.solo-info-proj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solo-info-proj i {
    color: var(--gen-color-dark);
    padding: 14px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: var(--cws-border-round-radius);
    border-top-right-radius: 0;
    transition: var(--gen-trans-0-2-s) ease-in-out;
}

.solo-info-proj i:hover {
    background-color: var(--second-aux-color);
    color: var(--gen-color-light);
    border: 2px solid var(--second-aux-color);
}

.project-buttons {
    display: flex;
    justify-content: center;
}

.project-buttons i {
    margin: 0 12px;
    font-size: 18px;
    padding: 15px;
    color: var(--gen-color-dark);
    background-color: var(--gen-color-light);
    border-radius: var(--cws-border-round-radius);
    cursor: pointer;
    transition: var(--gen-trans-0-2-s) ease-in-out;
}

.project-buttons i.left {
    border: 3px solid var(--main-accent-color);
    border-bottom-right-radius: 0;
}

.project-buttons i.left:hover {
    background-color: var(--main-accent-color);
    color: var(--gen-color-light);
}

.project-buttons i.right {
    border: 3px solid var(--second-aux-color);
    border-top-left-radius: 0;
}

.project-buttons i.right:hover {
    background-color: var(--second-aux-color);
    color: var(--gen-color-light);
}


/*.container-card:hover .container-card-about {
    position: absolute;
    margin-top: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--gen-color-light);
    border-top: 2px solid #ddd;
    animation: project .5s;
}*/


/*=== Testimonial ===*/

.agency-testi-section {
    background-color: var(--dark-color);
    color: var(--gen-color-light);
    padding-bottom: 80px;
}

.agency-header {
    text-align: center;
    padding: 40px 0;
}

.agency-header h2 {
    color: var(--gen-color-light);
    padding-top: 10px;
    font-weight: var(--bold-font-weight);
    letter-spacing: .2rem;
}

.agency-header small {
    color: var(--second-aux-color);
}

.agency-header small::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--second-aux-color);
    transform: translate(10px, 7.5px);
}

.testimonial-says {
    text-align: center;
}

.testi-emphasis {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(150px, -80px);
}

.testi-emph {
    position: relative;
    font-size: 68px;
    font-family: 'Arial';
    color: var(--second-aux-color);
    font-weight: var(--bolder-font-weight);
    background-color: var(--first-aux-color);
    padding: 4px 15px;
    padding-top: 12px;
    border-radius: var(--cws-border-tablet-radius);
    border-bottom-left-radius: 0;
    z-index: 1;
}

.testimonial-write {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 40px;
}

.testimonial-write div {
    display: grid;
    width: 49%;
    background-color: #0c34ad;
    padding: 40px;
    border-radius: var(--cws-border-tablet-radius);
    align-items: center;
}

.testimonial-write div p {
    align-items: center;
    color: var(--gen-color-light);
}

.testimonial-write div:nth-child(1) {
    border-bottom-right-radius: 0;
}

.testimonial-write div:nth-child(2) {
    border-bottom-left-radius: 0;
}

.testimonial-says .test-text {
    font-size: 15px;
    line-height: 1.6rem;
}

.testimonial-write em {
    font-size: 14px;
    font-weight: var(--bold-font-weight);
}

.testimonial-write span {
    font-size: 15px;
    font-weight: var(--light-font-weight);
    color: var(--second-aux-color);
}

.testimonial-button {
    margin-top: 50px;
}

.testimonial-says a {
    color: var(--gen-color-light);
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--first-aux-color);
    border-radius: var(--cws-border-tablet-radius);
}

.testimonial-says a::after {
    content: "\2192";
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
}

.testimonial-says a:hover {
    background-color: #1274fd;
}


/*.testimonial-says .test-text {
    color: var(--gen-color-light);
    background-color: #0c34ad;
    padding: 25px;
    border-radius: 50px;
    border-bottom-right-radius: 0;
    transform: translate(0, -10px);
}*/


/*=== CEO says *===*/

.founder-says {
    text-align: center;
    background-color: rgb(241, 247, 255);
    padding-top: 80px;
    padding-bottom: 140px;
}

.founder-says-header h3 {
    margin-top: 10px;
    margin-bottom: 25px;
}

.founder-says-header small::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: var(--cws-border-round-radius);
    background-color: var(--main-accent-color);
    transform: translate(10px, 7.5px);
}

.founder-says-body {
    position: relative;
    padding: 60px 80px;
    padding-bottom: 90px;
    line-height: 2rem;
    background-color: var(--gen-color-light);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.founder-says-body span {
    position: absolute;
    font-size: 50px;
    color: #ddd;
}

.founder-says-body .bd-sp-ft {
    left: 20px;
    top: 20px;
}

.founder-says-body .bd-sp-sd {
    right: 20px;
    bottom: 20px;
}

.fd-name {
    padding-top: 35px;
    font-weight: var(--bold-font-weight);
    text-transform: uppercase;
}

.fd-title {
    font-weight: 400;
    font-size: 15px;
    color: var(--dark-color);
    padding-bottom: 40px;
}

.founder-says-body img {
    position: absolute;
    width: 15%;
    left: 43%;
    border-radius: var(--cws-border-round-radius);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}


/* Decorative left and right on founder says */

.bd-dcr-elt {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--main-accent-color);
    border-radius: 10px;
}

.bd-dcr-elt.ft {
    left: -16px;
    bottom: 50%;
}

.bd-dcr-elt.lt {
    right: -16px;
    bottom: 50%;
}


/***==== Meet Team ====***/

.meet-team {
    padding-top: 60px;
    padding-bottom: 80px;
}

.meet-o-container {
    text-align: center;
}

.meet-o-container small::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: var(--cws-border-round-radius);
    background-color: var(--main-accent-color);
    transform: translate(10px, 7.5px);
}

.meet-o-container h3 {
    padding-bottom: 40px;
    padding-top: 10px;
}

.meet-o-container img {
    width: 100%;
    border-radius: 10px;
}


/*=== To Top Function ===*/

.to-top i {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 9px;
    color: #2023f1;
    border: 2px solid #2023f1;
    background-color: #9393ff;
    border-radius: var(--cws-border-round-radius);
    font-weight: 800;
    z-index: 20;
    cursor: pointer;
}

.to-top i:hover {
    background-color: #2023f1;
    color: var(--gen-color-light);
}


/*=== Footer section ===*/

footer {
    background-color: var(--dark-color);
}

.footer-content-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.col span {
    font-weight: var(--bold-font-weight);
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color: var(--gen-color-light);
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: var(--gen-color-light);
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: var(--gen-color-light);
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: var(--gen-color-light);
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: var(--first-aux-color);
}

footer .copyright {
    font-size: 13px;
    margin: 0 0 15px 0;
    width: 100%;
    text-align: center;
}

.copyright a {
    text-decoration: underline;
}

@media screen and (max-width: 642px) {
     :root {
        --mb-body-padding: 0 15px;
    }
    .section-m1 {
        padding: 0 30px;
    }
    #mobile {
        display: block;
        margin-top: 0;
        margin-left: 0;
        background-color: var(--main-accent-color);
        padding: 7px 10px;
        border-radius: 10px;
        z-index: 800;
    }
    .bar {
        width: 22px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.5s;
    }
    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
        background-color: #afb0ff;
    }
    .change .bar:nth-child(2) {
        opacity: 0;
    }
    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
        background-color: #afb0ff;
    }
    /****== Search button ==****/
    #search {
        display: block;
        padding: 7px 14px;
        background-color: var(--main-accent-color);
        color: var(--gen-color-light);
        border-radius: 10px;
    }
    /****== Prenav Section ==****/
    .prenav {
        display: flex;
        flex-direction: column;
        padding: var(--mb-body-padding);
        padding-top: 12px;
        padding-bottom: 12px;
        align-items: center;
        text-align: flex-start;
    }
    .job-location {
        margin-bottom: 10px;
        margin-top: 8px;
    }
    .job-location span {
        font-weight: var(--bold-font-weight);
    }
    .prenav-contact-info {
        display: flex;
        flex-direction: column;
    }
    .business-caller {
        margin-bottom: 10px;
    }
    .second-pre-item {
        padding-left: 0;
    }
    .third-pre-item {
        padding-left: 0;
        display: none;
    }
    #navbar {
        display: flex;
        justify-content: space-between;
        padding: var(--mb-body-padding);
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        z-index: 999;
    }
    .navlinks {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        left: -700px;
        height: 100vh;
        width: 100%;
        background-color: var(--gen-color-light);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 80px;
        transition: 0.4s;
        z-index: 99;
        overflow: scroll;
        scroll-behavior: auto;
    }
    .act {
        left: 0;
    }
    .navlinks ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: start;
    }
    .navlinks ul li {
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid var(--cws-border-light-shade);
    }
    .privacy-li {
        border-bottom: none !important;
    }
    .book-session-li {
        padding-left: 0 !important;
    }
    .navhead img {
        display: none;
    }
    .header-logo-text {
        padding-left: 0;
        text-align: center;
    }
    .navhead h2 {
        letter-spacing: var(--cws-letter-spacing-0-1);
    }
    .header-scrolled {
        top: 0;
        position: fixed;
        width: 100%;
        justify-content: space-between !important;
        background-color: var(--gen-color-light);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        animation: header 1s;
    }
    #quicklink-content {
        width: auto;
        height: 89%;
        margin-top: 22px;
        margin-bottom: 0;
        margin-left: 20px;
        position: static;
        z-index: 950;
        /*align-items: center;
        justify-content: center;*/
        text-align: start;
        padding: 5px 0px;
        padding-bottom: 0;
        border: none;
        border-left: 2px solid var(--cws-border-light-shade);
        border-radius: 0;
        /* transition: 0.3s ease-in-out; */
        animation: dropdownFadeIn 0.3s ease-in-out forwards;
    }
    #quicklink-content li {
        padding-bottom: 0 !important;
        padding-left: 8px;
    }
    #quicklink-content li a {
        padding: 20px 10px !important;
    }
    /****== Hero Section ==****/
    .hero-section {
        position: relative;
        background-image: url(/static/src/man-cleaning-service-concept-clean-room-office-tools_36325-1163.webp);
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: 45%;
    }
    .hero-text {
        margin: 0 15px;
        padding: 20px;
        width: 92%;
        background: linear-gradient(180deg, #12121241 0%, #12121200 100%);
        color: var(--gen-color-light);
    }
    .hero-text h2 {
        font-size: 36px;
        font-weight: var(--bold-font-weight);
        padding-bottom: 20px;
        letter-spacing: 0.5rem;
        font-family: var(--gen-font-oswald);
        color: var(--gen-color-light);
    }
    /***== Modal Contents ==***/
    .modal-content {
        width: 90%;
    }
    .modal-body {
        justify-content: center;
        flex-wrap: wrap;
    }
    .modal-body video {
        width: 100%;
    }
    /***== Service Plate ==***/
    .service-card-plate {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        z-index: 10;
    }
    .plate-items {
        width: 100%;
        margin-bottom: 30px;
    }
    /***== Why our services ==***/
    .services-elementor-area {
        display: flex;
        flex-direction: column;
    }
    .services-elt-text {
        padding-left: 0;
    }
    .services-elt-img {
        max-width: 100%;
        padding-bottom: 20px;
    }
    .years-experience {
        transform: translate(185px, 50px);
    }
    .services-elt-buttons {
        justify-content: start;
        width: 100%;
    }
    /***== Banner ==***/
    .more-info-banner {
        height: 50vh;
        margin-top: 60px;
        align-items: center;
    }
    .banner-content {
        padding: 45px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content-elt {
        justify-content: space-evenly;
        align-items: center;
        width: 280px;
        padding: 15px 0;
    }
    .content-elt p {
        text-align: center;
    }
    .content-elt i {
        margin-right: 0;
    }
    .content-story {
        font-size: 13px !important;
    }
    .hide-star {
        display: none !important;
    }
    /*== offered services ==*/
    .detail-services-offered {
        padding-top: 70px;
    }
    .offered-services-show {
        display: flex;
        flex-direction: column;
    }
    .image-decor-elt {
        transform: translate(100px, -30px);
    }
    .offered-rounded {
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
    }
    .image-over-elt {
        transform: translate(20px, -15px);
    }
    /*==== Projects ====*/
    .projects-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding-bottom: 0;
    }
    .project-header {
        padding-top: 50px;
    }
    .container-card {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .card-second,
    .card-third {
        display: none;
    }
    .project-buttons {
        padding-bottom: 50px;
    }
    /**=== Testimonial SEction ===**/
    .agency-testi-section {
        padding-bottom: 60px;
    }
    .testi-emphasis {
        transform: translate(60px, -65px);
    }
    .testi-emph {
        font-size: 50px;
    }
    .testimonial-write {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
    }
    .testimonial-write div {
        width: 100%;
        border-radius: 0;
    }
    .testimonial-write div:nth-child(1) {
        border-top-right-radius: var(--cws-border-tablet-radius);
        border-top-left-radius: var(--cws-border-tablet-radius);
    }
    .testimonial-write div:nth-child(2) {
        border-bottom-left-radius: var(--cws-border-tablet-radius);
    }
    /**** Founder Says *****/
    .founder-says {
        padding-bottom: 180px;
    }
    .founder-says-header {
        padding-top: 50px;
    }
    .founder-says-body {
        padding: 60px;
    }
    .founder-says-body img {
        width: 50%;
        left: 25%;
    }
    /*** Meet Team ***/
    .meet-team {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 380px) {
    .more-info-banner {
        height: 65vh;
        margin-top: 60px;
    }
}

@media screen and (max-height: 762px) {
    .hero-section {
        height: 100vh;
    }
    .hero-overlay {
        height: 100vh;
    }
    .main-overlay {
        height: 100vh;
    }
}